:root {
    --main-bg-color:  #0C134F80;
    --sec-bg-color: #1D267D80; 
    --sec-text-color: #5C469C; 
    --main-text-color: #D4ADFC;   
         
    --border-color: #99999c; 
}

/* --------- Global style */

body {
    background-color: var(--main-bg-color);
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
    /* width: 100%; */
   /* height: 1100px; /* Set your desired height */
    background-image: url("../images/universe.jpeg");
    background-size: cover;
    
   /*  background-size: 100% 100%; /* This will stretch the image */
    background-repeat: no-repeat;
  
    

}

h2 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* .banner {
    height: 250px;
    padding: 25px;

    /* padding-right: 5px; 
}
*/
/* --------- Game layout */

.game-area {
   /* background-color: var(--sec-bg-color); */
    background-color: var(--sec-bg-color);
    font-size: 2rem;
   /* box-sizing: border-box; */
    /* margin: 10px; */
    /* max-width: max-content; */
     width: 91%; 
    /* height: 75vh; */
    /*max-height: 800px; 
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto; */
    padding: 10px;
    border: 3px solid;
    border-radius: 30px;
    
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
     display: flex; 
     flex-wrap: wrap;
     padding: 10px;
    
    justify-content: space-around;
    align-items: center;
    margin: 5px auto 30px;
    width: 80%;
    
    font-size: 1.25rem;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    border: 1.5px solid;
    
}



.controls-area {
    margin-top: 15px;
    margin-bottom: 15px;
    color: yellow;
 }


#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

#unknown {
    color: lightgrey;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: white;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}


button {
    margin: 10px;
} 

.btn {
   /* width: 125px;*/
   border-radius: 10px;
/*   padding: 10px; */
   
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;

}

.btn:focus {
    outline: none;
}

.btn--big {
    padding: 5px;
    background-color: black;
    border: 5px solid;
    width: 150px; 
    height: 75px;
    font-size: 1rem; 
    /* margin: 0 20px; */
    transition: all 0.5s;
}

.btn--big::after{
    content: attr(data-type);
    font-size: 0rem;
}

.btn--magenta {
    border-color: magenta;
    color: violet;
    
}

.btn--magenta:active,
.btn--magenta:hover {
    background-color: violet;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
    padding: 10px;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
    padding: 10px;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: yellowgreen;
    color: yellowgreen;
    padding: 10px;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray {
    padding-left: 10px;
    padding-right: 10px;
   
    background-color: gray; 
    border: 1px solid;
    font-size: 1.5rem;
    /* border-style:outset; */
    height: 7vh;
    border-radius: 20px; 
    transition: all 0.5s;
    margin-bottom: 30px; 
    
}

.btn--gray:active,
.btn--gray:hover {
    background-color: lightgray;
    color: black;
}

#messageQuestion {
    color: gold;
    padding: 10px;
}

#correct {
    padding-left: 8px;
    padding-right: 8px;
}
#incorrect {
    padding-left: 8px;
    padding-right: 8px;
}

#unknown {
    padding-left: 8px;
    padding-right: 8px;
}


@media (max-width: 800px) {
    .score-area {
        font-size: 1rem;
        /* width: 250px; */
       /* height: 90px;*/
       padding: 10px;
         border-radius: 10px;
         flex-wrap: nowrap;
    }
}
 


@media (max-width: 414px) {

    h2 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1rem;
    }
    
    img {
        width: auto;
        height: auto;
    }
          
    .btn--big {
        /*  margin: 0 10px; */
       /* padding: 5px;
        border: 5px solid; */
        /* width: 150px; */
        height: 50px;
        font-size: 0.85rem;
    }

  /*  .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    } */

    .btn--big::after{
        content: attr(data-type);
        font-size: 0rem;
    }
/*
    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    */

    .btn--gray {
        align-items: center;
        width: 150px;
        height: 50px;
        font-size: 0.85rem;

    }



    .score-area {
        width: 75%;
        font-size: 0.95rem;
    }

    .heading {
        font-size: 2rem;
    }

    #messageQuestion {
        font-size: medium;
    }
}

@media (max-width: 350px) {
  
    .btn--gray {       
        font-size: 0.8rem;
    }
    
    .score-area {
        flex-direction: column;
        height: auto;
        width: 50%;        
    }

}
