/* Root variables for color palette */
:root {
    --main-bg-color: #0C134F80;
    /* Main background color */
    --sec-bg-color: #1D267D80;
    /* Secondary background color */
    --sec-text-color: #5C469C;
    /* Secondary text color */
    --main-text-color: #D4ADFC;
    /* Main text color */
    --border-color: #99999c;
    /* Border color */
}
/* --------- Global style */
/* Styling for the body */
body {
    background-color: var(--main-bg-color);
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
    
     width: 100%; 
   /* height: 1100px; /* Set your desired height */
    background-image: url("../images/universe.jpeg");
    background-size: cover;
  
}

/* Heading styles */
h2 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}
/*
p {
    font-size: 1rem;
}
*/
img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  

/* Heading and banner styles */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Game layout styles */
.game-area 
{
    margin-left: 125px;
    margin-right: 125px;
    border: 2px solid;
    border-radius: 25px;
    background-color: rgba(54, 7, 163, 0.438);
        /* Blue with 50% transparency */
}






.controls-area {

    margin-top: 15px;
    margin-bottom: 15px;
 
}



.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
     display: flex; 
     flex-wrap: nowrap;
     padding: 10px;
    
    justify-content: space-around;
    align-items: center;
    margin: 5px auto 30px;
    width: 60%;
    
    font-size: 1.25rem;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    border: 1.5px solid;
    
}




.container-socials {
  padding: 20px;
  display: flex; /* Use flexbox */
  flex-direction: row; /* Arrange in a row */
  flex-wrap: wrap; /* Allow wrapping */
  height: 100px; /* Set height */
  align-items: center; /* Align items */
  justify-content: space-around; /* Spread items */
  font-size: 3rem;
  
}




#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

#unknown {
    color: lightgrey;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: white;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}


button {
    margin: 10px;
} 

.btn {
   /* width: 125px;*/
   border-radius: 10px;
/*   padding: 10px; */
   
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;

}

.btn:focus {
    outline: none;
}

.btn--big {
    padding: 5px;
    background-color: black;
    border: 5px solid;
  /*  width: 150px;  */
    height: 75px;
    font-size: 1rem; 
    /* margin: 0 20px; */
    transition: all 0.5s;
}

.btn--big::after{
    content: attr(data-type);
    font-size: 0rem;
}

.btn--A {
    border-color: magenta;
    color: violet;
    
}

.btn--A:active,
.btn--A:hover {
    background-color: violet;
    color: white;
}

.btn--B {
    border-color: orange;
    color: orange;
    padding: 10px;
}

.btn--B:active,
.btn--B:hover {
    background-color: darkorange;
    color: white;
}

.btn--C {
    border-color: red;
    color: red;
    padding: 10px;
}

.btn--C:active,
.btn--C:hover {
    background-color: darkred;
    color: white;
}

.btn--D {
    border-color: yellowgreen;
    color: yellowgreen;
    padding: 10px;
}

.btn--D:active,
.btn--D:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray {
    padding-left: 10px;
    padding-right: 10px;
   
    background-color: gray; 
    border: 3px solid;
    font-size: 1.5rem;
    /* border-style:outset; */
    height: 7vh;
    border-radius: 20px; 
    transition: all 0.5s;
    margin-bottom: 30px; 
    
}

.btn--gray:active,
.btn--gray:hover {
    background-color: lightgray;
    color: black;
}

#messageQuestion {
    color: gold;
    font-size: 1.75rem;
    padding: 10px;
}

#correct {
    padding-left: 8px;
    padding-right: 8px;
}
#incorrect {
    padding-left: 8px;
    padding-right: 8px;
}

#unknown {
    padding-left: 8px;
    padding-right: 8px;
}

#result {
    transition: opacity 1s ease-in-out;
    font-size: 2.25rem;
  }

/* Media queries for responsiveness */
/* Adjust styles for different screen sizes */
@media (max-width: 800px) {
    /* Styles for smaller screens */
    .score-area {
        font-size: 1rem;
       padding: 10px;
         border-radius: 10px;
         flex-wrap: nowrap;
   }

}

@media (max-width: 720px) {
.game-area {
    margin: 0px;
}    


.controls-area {


    margin: 0px;

}

}             



@media (max-width: 414px) {

    h2 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1rem;
    }
    
    img {
        width: auto;
        height: auto;
    }
          
    .btn--big {
        /*  margin: 0 10px; */
       /* padding: 5px;
        border: 5px solid; */
        /* width: 150px; */
        height: 50px;
        font-size: 0.85rem;
    }

  /*  .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    } */

    .btn--big::after{
        content: attr(data-type);
        font-size: 0rem;
    }
/*
    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    */

    .btn--gray {
        align-items: center;
        width: 150px;
        height: 50px;
        font-size: 0.85rem;

    }



    .score-area {
        width: 75%;
        font-size: 0.95rem;
    }

    .heading {
        font-size: 2rem;
    }


     /* Flexbox adjustments for social media container */
    .container-socials {
    justify-content: space-evenly; /* Space items evenly */ 
    font-size: 1.85rem;
    }

    #end {
        font-size: 0.85rem;
    }




    #messageQuestion {
        font-size: 1rem;
    }
}

@media (max-width: 344px) {
  
    .btn--gray {       
        font-size: 0.85rem;
        width: 125px;
        height: 75px;
        
    }
    
    .score-area {
        flex-direction: column;
        height: auto;
        width: 50%;        
    }

}


@media (max-width: 180px) {
    .btn--gray {
        width: 90px;
        height: 55px;
        font-size: 0.7rem;

    }


}
  